:root {
    --primary-color: #052436;
    --secondary-color: #ffffff;
    --accent-color: hsl(55, 100%, 51%);
    --text-color: #111;
    --font: "Montserrat", sans-serif;
}

body {
    font-family: var(--font);
    background-color: var(--secondary-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1rem 2rem;
    flex-wrap: wrap;
}

main {
    padding: 2rem;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.logo {
    max-width: 25px;
    height: auto;
}

.sitename {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

.hamburger{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    color: white;
}
.hamburger::before{
    content: "\2630";
}
.hamburger.show::before{
    content: "\00D7";
}

nav{
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
nav.show{
    display: flex;
}
nav a{
    color: white;
    text-decoration: none;
    padding: 1rem;
    display: block;
}
nav a:hover{
    background-color: var(--accent-color);
    color: var(--primary-color);
}

#members-container.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    transition: all 0.3s ease;
}
/*#members-container.list{
    display: block;
}*/
section{unicode-bidi: isolate;}
.member-card{
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
}
.member-card:hover{
    transform: translateY(-5px);
}
footer{
    background-color: #f4f4f4;
    color: #111;
    text-align: center;
    padding: 2rem 1rem;
    font-size: 0.9rem;
}

/*Small*/
@media (max-width: 600px) {
    .header-container{
        flex-direction: column;
        text-align: center;
    }

    nav#navMenu.show{
        display: flex;
    }

    .view-buttons button {
        display: block;
        width: 80%;
        margin: 0.5rem auto;
    }
    main {
        padding: 1rem;
    }
}

/*Large*/
@media (min-width: 601px) {
    header{
        display: flex;
        grid-template-columns: auto auto;
        align-items: center;
        padding: 1rem 2rem;
        gap: 1rem;
        color: var(--secondary-color);
        background-color: var(--primary-color);
        flex-direction: column;
    }
    .header-container{
        width: 100%;
    }
    .sitename{
        text-align: center;
        flex-grow: 1;
        font-size: 29px;
    }

    .nav-box{
        display: flex !important;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        background-color: #092e44;
        border-radius: 10px;
        width: 100%;
        max-width: 900px;
        padding: 0.5rem 0;
    }
    .hamburger{
        display: none;
    }
}

/*Hero*/
#hero {
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 2rem;
}
.hero-img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    filter: brightness(55%);
    border-radius: 8px;
}
#hero h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.2rem;
    font-weight: bold;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}

/*CTA*/
#cta-section {
    background-color: var(--primary-color);
    color: white;
    padding: 2rem 1rem;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.cta-button {
    background-color: var(--accent-color);
    color: var(--primary-color);
    padding: 0.8rem 1.5rem;
    display: inline-block;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 1rem;
    transition: backgound 0.3s;
}

.cta-button:hover{
    background-color: #ffe44a;
}

/*events section*/
#events-sections {
    background-color: #eef5fa;
    padding: 2rem 1rem;
    border-radius: 10px;
    margin-bottom: 2rem;
}
#events-sections ul{
    list-style: none;
    padding: 0;
    margin-top: 1rem;
}
#events-sections li{
    background: white;
    padding: 0.8rem;
    margin: 0.5rem auto;
    border-radius: 6px;
    max-width: 450px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/*weather section*/
#weather-section {
    text-align: center;
    background-color: white;
    padding: 2rem 1rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
#weather-icon {
    width: 90px;
}

/*spotlights*/
#business-spotlights{
    padding: 2rem 1rem;
    background-color: #f9f9f9;
    border-radius: 10px;
}
#sporlights-container {
    display: grid;
    gap: 1rem;
    margin-top: 1rem;
}
.spotlight-card {
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}
.spotlight-card img {
    width: 120px;
    height: auto;
    margin-bottom: 0.8rem;
}

/*responsive*/
@media (min-width: 700px) {
    #spotlights-container {
        grid-template-columns: repeat(2, 1fr);
    }
    #hero h1 {
        font-size: 3rem;
    }
}