*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 1rem;
}

header{
    margin-top: 1rem;
}

main {
    border:  1px solid #505f65;
    background-color: #e0e0e0/*#0078d4*/;
    color: #555;
    border-radius: 10px;
    text-align: center;
    padding: 2rem;
    text-align: center;
    width: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

h1{
    font-size: 2.5rem;
    color: #555;
    margin: 0.5rem;
    text-align: center;
}
figure {
    margin: 1rem 0;
}

#weather-icon {
    width: 100px;
    height: 100px;
}

figcaption{
    text-transform: capitalize;
    font-size: 1rem;
    color: #555;
    margin-top: 0.5rem;
}
#current-temp {
    font-size: 2rem;
    color: #c9a800;
    margin-top: 0.5rem;
    font-weight: bold;
}
footer{
    margin-top: 1rem;
    font-size: 0.8rem;
    text-align: center;
    color: #555;
    border-top: 1px solid #ccc;
    padding-top: 0.5rem;
    width: 100%;
}
